---
class_name: article
---

<% current_page.data[:title] = article.name %>

<div class="page-<%= current_page.data.class_name %>" data-page="<%= current_page.data.class_name %>">
  <div class="aside aside--right">
    <div class="aside__content">
      <%= link_to "timeline", "/timeline.html", class: "back-btn back-btn--hidden" %>
    </div>
  </div>

  <article class="article article--hidden">
    <div class="article__category category">
      <%= content_tag :span, nil, class: "category__icon category__icon--#{article.category.slug}", title: article.category.name %>
    </div>

    <div class="col-s-1-2 left-s-1-2">
      <header class="article__header">
        <h1 class="title article__title">
          <%= article.name %>
        </h1>
        <h3 class="article__date">
          <%= article.date.strftime '%d/%m/%Y' %>
        </h3>
      </header>

      <div class="content content--hidden article__content">
        <% article.content.split("\n").each do |paragraph| %>
          <p class="article__paragraph"><%= paragraph.strip %></p>
        <% end %>
      </div>

      <div class="article__link">
        <%= link_to 'Read more', article.url, class: :btn, target: :_blank %>
      </div>
    </div>
  </article>
</div>
